.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: 30%;
  overflow: hidden;
  transition: transform 0.2s;
  position: relative;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: auto;
}

.card-image {
  position: relative;
}

.card-heart {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  padding: 5px;
}

.card-content {
  padding: 15px;
}

.card-content h2 {
  font-size: 1.5em;
  margin: 0 0 10px;
  color: #000;
}

.card-content p {
  margin: 5px 0;
  color: #888;
}

.card-content a {
  color: #28a745;
  text-decoration: none;
}

.card-content a:hover {
  text-decoration: underline;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #eee;
  padding-top: 10px;
  margin-top: 10px;
}

.card-bottom span {
  display: flex;
  align-items: center;
  color: #888;
}

.card-bottom span i {
  margin-right: 5px;
}

/* Media query for smaller screens */
@media (max-width: 1024px) {
  .card {
      width: calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .card {
      width: calc(100% - 20px);
  }
}

.page-title {
  font-size: 2em;
  color: #333;
  text-align: center;
}

.card .site-link {
  color: gray;
  text-decoration: none;
}

.card .site-link:hover {
  text-decoration: underline;
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Cette ligne assure que l'image couvre tout le conteneur sans distorsion */
}

.card .card-image {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* Aspect ratio 16:9 */
  overflow: hidden;
}

.card .card-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// les tags page affichage d'un fabricant

.header-tags-list {
  list-style-type: none; /* Supprime les markers de la liste */
  //margin-bottom: 5px;
}

.header-tags-list > .TagsLabel > .TagLabel {
  margin-right: 10px; /* Espace entre les tags */
}

@media (max-width: 768px) {
  .custom-area .Hero {
    display: none;
  }
  .custom-area .card {
    width: 100%;
  }
  .custom-area .cards-container {
    padding: 0;
  }
  .fabricant-show-page .container {
    padding-left: 0;
  }

}

//fabricant show page

.custom-card {
  max-width: 64rem; /* Equivalent to max-w-4xl */
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.custom-card-content {
  padding: 1.5rem;
}

.custom-space-y-4 > * + * {
  margin-top: 1rem;
}

.custom-title {
  font-size: 1.5rem; /* text-2xl */
  font-weight: 700; /* font-bold */
}

.custom-subtitle {
  color: #6b7280; /* text-muted-foreground */
}

.custom-flex-space-x-4 {
  display: flex;
  gap: 1rem;
}

.custom-flex-space-x-2 {
  display: flex;
  gap: 0.5rem;
}

.custom-link {
  color: #6b7280; /* text-muted-foreground */
  transition: color 0.2s;
}

.custom-link:hover {
  color: #000000; /* hover:text-foreground */
}

.custom-icon {
  width: 1rem;
  height: 1rem;
}

.custom-button-outline {
  border: 1px solid #e5e7eb;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  transition: background-color 0.2s;
}

.custom-button-outline:hover {
  background-color: #f9fafb;
}

.custom-grid-cols-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.custom-card-inner {
  padding: 1rem;
}

.custom-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 300;
}

.custom-info .fa {
  color: #619357;
}

.custom-icon-medium {
  width: 1.25rem;
  height: 1.25rem;
  color: #619357;
}

.custom-card-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-review-title {
  font-weight: 700; /* font-bold */
}

.custom-rating {
  display: flex;
  gap: 0.25rem;
  margin-top: 0.5rem;
}

.custom-icon-large {
  width: 1.5rem;
  height: 1.5rem;
  color: #fbbf24; /* text-yellow-500 */
}

.custom-textarea {
  width: 100%;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 0.375rem;
  border: 1px solid #e5e7eb;
}

.custom-button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #619357; /* Blue */
  color: white;
  border-radius: 0.375rem;
  transition: background-color 0.2s;
}

.custom-button:hover {
  background-color: #619357;
}

.custom-background {
  position: absolute;
  inset: 0;
  background-image: url('/placeholder.svg');
  background-size: cover;
  background-position: center;
  opacity: 0.2;
}

.custom-card-inner {
  padding: 1rem;
  border: 1px solid #e5e7eb; /* Petite bordure grise */
  border-radius: 0.375rem; /* Optional: Add a small border radius */
}

.custom-tabs {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

.custom-button-outline {
  border: none;
  border-bottom: 2px solid transparent;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem 0.375rem 0 0;
  background-color: transparent;
  transition: all 0.2s;
}

.custom-button-outline-card-center {
  border: none;
  border-bottom: 2px solid transparent;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem 0.375rem 0 0;
  background-color: #ffffff;
  transition: all 0.2s;
}
.custom-button-outline:hover {
  background-color: #f1f5f9;
}

.custom-button-outline.active {
  border-bottom: 2px solid #619357; /* Couleur de la bordure inférieure pour le bouton actif */
  background-color: transparent; /* Retirer la couleur de fond pour le bouton actif */
  font-weight: bold; /* Optionnel : pour souligner le bouton actif */
}

.custom-card-center {
  background-image: url('https://communaute.tinyhouse1.fr/assets/carte_openstreetmap.png');
  background-size: cover;
}

.contact-card {
  padding: 1rem;
  border: 1px solid #e5e7eb; /* Petite bordure grise */
  border-radius: 0.375rem; /* Optional: Add a small border radius */
  margin-top: 1rem;
}
.custom-info-container {
  display: flex;
  gap: 0.5rem;
}

.custom-info-item {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.custom-icon {
  width: 1rem;
  height: 1rem;
  color: #ffffff; /* Color for the icon */
}

.badge-primary {
  display: flex;
  align-items: center;
  background-color: #619357; /* Badge background color */
  color: white; /* Badge text color */
  padding: 0.25rem 0.5rem;
  border-radius: 9999px; /* Fully rounded corners */
  font-size: 0.65rem; /* Smaller text size */
  font-weight: 500; /* Text weight */
  line-height: 1; /* Compact line height */
}

.badge-warning {
  display: flex;
  align-items: center;
  background-color: #efa00b; /* Badge background color */
  color: white; /* Badge text color */
  padding: 0.25rem 0.5rem;
  border-radius: 9999px; /* Fully rounded corners */
  font-size: 0.65rem; /* Smaller text size */
  font-weight: 500; /* Text weight */
  line-height: 1; /* Compact line height */
}

.badge-danger {
  display: flex;
  align-items: center;
  background-color: #db504a; /* Badge background color */
  color: white; /* Badge text color */
  padding: 0.25rem 0.5rem;
  border-radius: 9999px; /* Fully rounded corners */
  font-size: 0.65rem; /* Smaller text size */
  font-weight: 500; /* Text weight */
  line-height: 1; /* Compact line height */
}

.badge-info {
  display: flex;
  align-items: center;
  background-color: #114b5f; /* Badge background color */
  color: white; /* Badge text color */
  padding: 0.25rem 0.5rem;
  border-radius: 9999px; /* Fully rounded corners */
  font-size: 0.65rem; /* Smaller text size */
  font-weight: 500; /* Text weight */
  line-height: 1; /* Compact line height */
}

div.manufacturer-name-container > h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

// FAQ

.faq-container {
  margin: 0 auto;
  padding: 20px;
  padding: 1rem;
  border: 1px solid #e5e7eb;
  border-radius: 0.375rem;
  margin-top: 1rem;
}

.faq-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.faq-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

.filter-select-container {
  display: flex;
  align-items: center;
}

.filter-select {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: #1f2937; /* text-gray-900 */
  background-color: #fff; /* bg-white */
  border: 1px solid #d1d5db; /* border-gray-200 */
  border-radius: 0.5rem; /* rounded-lg */
  cursor: pointer;
}

.custom-space-y-4 > * + * {
  margin-top: 1rem;
}

.faq-items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.faq-item {
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.faq-item.expanded .faq-answer {
  display: block;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.2rem;
}

.filter-select-container {
  position: relative;
  display: inline-block;
}

.filter-select {
  padding: 0.5rem 2rem 0.5rem 1rem; /* Increase right padding for more space */
  font-size: 1rem;
  font-weight: 500;
  background-color: #fff; /* bg-white */
  border: 1px solid #d1d5db; /* border-gray-200 */
  border-radius: 0.5rem; /* rounded-lg */
  cursor: pointer;
  appearance: none; /* Remove default arrow */
  -webkit-appearance: none; /* Remove default arrow for Safari */
  -moz-appearance: none; /* Remove default arrow for Firefox */
}

.filter-icon {
  position: absolute;
  top: 50%;
  right: 1rem; /* Adjust position to avoid overlapping */
  font-size: 1rem;
  transform: translateY(-50%); /* Center the icon vertically */
  pointer-events: none; /* Prevent pointer events */
}

.mt-2 {
  margin-top: 0.5rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.custom-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

@media (max-width: 768px) {
  .custom-grid {
    grid-template-columns: 1fr;
  }

  .custom-card-center {
    margin-top: 1rem;
    min-height: 8rem;
  }
}


